<section class="contact-section">
    <div class="container contact-main-page">
        <h2 class="visually-hidden">MainPage / Contacts</h2>
        <div class="contact-info">
            <p class="contact-logo">MIMIHO</p>
            <p class="contact-title">Ресторанно-готельний
                комплекс</p>
            <address class="address-bloc">
                <ul class="contact-list">
                    <li class="contact-item">
                        <div class="tablet">
                            <p class="rest-contact">Ресторан</p>
                            <a class="contact-tel" href="tel:+380955559533">
                                <svg class="icon-tel" width="24" height="24">
                                    <use href="./img/sprite/icon.svg#icon-phone-24"></use>
                                </svg>095 555 95 33
                            </a>
                        </div>

                    </li>
                    <li class="contact-item">
                        <div class="tablet">
                            <p class="hotel-cont">Готель</p>
                            <div class="contact-tel-hotel">
                                <svg class="icon-tel-hotel" width="24" height="24">
                                    <use href="./img/sprite/icon.svg#icon-phone-24"></use>
                                </svg>
                                <div class="hotel-number">
                                    <a class="tel-one" width="100" href="tel:+380668491089">066 849 10 89
                                    </a>
                                    <a width="100" href="tel:+3800672758540"> 067 275 85 40
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contact-item conteiner-address">
                        <svg class="icon-point" width="24" height="24">
                            <use href="./img/sprite/icon.svg#icon-location"></use>
                        </svg>
                        <p class="break-word">Україна, м. Полтава, <br>
                            вул. Маршала Бірюзова, 15
                        </p>
                    </li>
                </ul>
            </address>

        </div>
        <div class="map">
            <iframe class="map-container"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2212.1764992577796!2d34.52435761523106!3d49.599197456213865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1676561448936!5m2!1sru!2sua"></iframe>
        </div>
    </div>
</section>