<!-- 3 MAIN HOMEPAGE - ABOUT RESTAURANT -->
<section class="abrest">
  <div class="container">
    <h2 class="abrest-title visually-hidden">About restaurant</h2>
    <div class="abrest-wrap-first">
      <div class="extra">
        <p class="abrest-pre-logo">Amet minim mollit non</p>
        <p class="abrest-logo">Mimiho</p>
        <p class="abrest-wrap-text-first">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="abrest-wrap-pic-first">
        <picture>
          <source
            srcset="
              ./img/about-rest-images/desktop/abrest-interier-460_574.jpg  1x,
              ./img/about-rest-images/desktop/abrest-interier-920_1148.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-rest-images/tablet/abrest-interier-400_524.jpg  1x,
              ./img/about-rest-images/tablet/abrest-interier-800_1048.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-rest-images/mobile/abrest-interier-244_322.jpg 1x,
              ./img/about-rest-images/mobile/abrest-interier-488_644.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="./img/about-rest-images/mobile/abrest-interier-244_322.jpg"
            alt="Зал рестарана з сучасним інтер'єром там серверованими дерев'яними столами"
            width="460"
            height="574"
          />
        </picture>
      </div>
    </div>
    <div class="abrest-wrap-second">
      <div class="abrest-wrap-pic-second">
        <picture class="abrest-wrap-pic-second">
          <source
            srcset="
              ./img/about-rest-images/desktop/abrest-view-460_574.jpg  1x,
              ./img/about-rest-images/desktop/abrest-view-920_1148.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-rest-images/tablet/abrest-view-350_500.jpg  1x,
              ./img/about-rest-images/tablet/abrest-view-700_1000.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-rest-images/mobile/abrest-view-200_278.jpg 1x,
              ./img/about-rest-images/mobile/abrest-view-400_556.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="./img/about-rest-images/mobile/abrest-interier-244_322.jpg"
            alt="Зал рестарана з сучасним інтер'єром і люстрами освітлення сферичної форми"
            width="460"
            height="574"
          />
        </picture>
      </div>
      <p class="abrest-wrap-text-second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- Тут має бути слайдер -->
  
    <div class="abrest-slider">
            <div class="abrest-slider-img-first">
              <picture>
                <source
                  srcset="
                    ./img/kitchen-restaurant-page/desktop/kitchen-2.jpg    1x,
                    ./img/kitchen-restaurant-page/desktop/kitchen-2-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/kitchen-restaurant-page/tablet/kitchen-tab-2.jpg    1x,
                    ./img/kitchen-restaurant-page/tablet/kitchen-tab-2-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/kitchen-restaurant-page/mobile/kitchen-mob-2.jpg    1x,
                    ./img/kitchen-restaurant-page/mobile/kitchen-mob-2-2x.jpg 2x
                  "
                  media="(max-width: 1023px)"
                />
                <img
                  src="./img/kitchen-restaurant-page/desktop/kitchen-2.jpg"
                  alt="kitchen"
                />
              </picture>
            </div>
            <div class="abrest-slider-img-second">
              <picture>
                <source
                  srcset="
                    ./img/kitchen-restaurant-page/desktop/dish-2.jpg    1x,
                    ./img/kitchen-restaurant-page/desktop/dish-2-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/kitchen-restaurant-page/tablet/dish-tab-2.jpg    1x,
                    ./img/kitchen-restaurant-page/tablet/dish-tab-2-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/kitchen-restaurant-page/mobile/dish-mob-2.jpg    1x,
                    ./img/kitchen-restaurant-page/mobile/dish-mob-2-2x.jpg 2x
                  "
                  media="(max-width: 1023px)"
                />
                <img
                  src="./img/kitchen-restaurant-page/desktop/dish-2.jpg"
                  alt="dish"
                />
              </picture>
            </div>
          </div>
           <ul class="abrest-slider-btn">
            <li>
              <button type="button" class="slider-btn">
                <svg class="arrow-left-icon" width="32" height="32">
                  <use href="./img/sprite/icon.svg#icon-Vector-arrow1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button type="button" class="slider-btn">
                <svg class="arrow-right-icon" width="32" height="32">
                  <use href="./img/sprite/icon.svg#icon-Vector-arrow2"></use>
                </svg>
              </button>
            </li>
          </ul>
  </div>
</section>
