
<section class="details-of-hotel">
    <div class="container">
 <div class="text-wrap">
    <h2 class="visually-hidden">Details of our Hotel</h2>
    <h3 class="hotel-details-title">mimiho</h3>
    <h4 class="hotel-details-subtitle">Готель</h4>
    <p class="hotel-details-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
 </div>

   <div class="buttons-image-wrap">
    <div class="mobile-image-arrow-wrap">
    <ul class="details-image-list">
    <li class="details-image">
      <picture>
        <source srcset="../img/details-hotel-main-page-images/Frame21.jpg 1px ,
        ../img/details-hotel-main-page-images/2pxFrame1.jpg 2px" 
         media="(min-width: 1280px)" />
        <img src="../img/details-hotel-main-page-images/Frame21.jpg"
        alt="A picture of a breakfast"
        width="270"
        height="270"/>
      </picture>
    </li>
    <li class="details-image">
      <picture>
        <source srcset="../img/details-hotel-main-page-images/Frame25.jpg 1px ,
        ../img/details-hotel-main-page-images/2pxFrame2.jpg 2px" 
         media="(min-width: 1280px)" />
        <img src="../img/details-hotel-main-page-images/Frame25.jpg"
        alt="A picture of a breakfast"
        width="162"
        height="270"/>
      </picture>
      </li>
    <li class="details-image">
      <picture>
        <source srcset="../img/details-hotel-main-page-images/Frame26.jpg 1px ,
        ../img/details-hotel-main-page-images/2pxFrame3.jpg 2px" 
         media="(min-width: 1280px)" />
        <img src="../img/details-hotel-main-page-images/Frame26.jpg"
        alt="A picture of a breakfast"
        width="270"
        height="270"/>
      </picture>
      </li>
   </ul>
     <ul class="scroll-arrows">
    <li>
      <button type="button" class="arrow-button">
      <svg width="32" height="32" class="scroll-arrows-icon">
        <use href="../img/sprite/icon.svg#icon-Vector-arrow1"></use>
      </svg>
      </button>
    </li>
    <li>
      <button type="button" class="arrow-button">
        <svg width="32" height="32" class="scroll-arrows-icon">
            <use href="../img/sprite/icon.svg#icon-Vector-arrow2"></use>
        </svg>
      </button>
    </li>
   </ul>
   </div>
  <div class="details-buttons">
    <div class="details-button margin">
      <button type="button" class="button">Забронювати номер</button>
    </div>
    <div class="details-button">
      <a href="../hotel.html">
        <button type="button" class="button">Переглянути ціни</button>
      </a>
    </div>
    </div>
    </div>
   </div>
</section>




