
      <div class="container footer__blocks">
        <div class="footer-blocks__item footer__logo">
            <a class="logo--footer"
                href="../index.html">
              <span>MIMIHO</span>
            </a>
        </div>

        <div class="footer-blocks__links">
        <div class="footer-blocks__item footer__navigation">
          <nav >
            <ul class="footer--navigation__items">
              <li class="footer--navigation__item">
                <a class="navigation__item--current" 
                  href="../index.html">
                  Головна
                </a>
              </li>
              <li class="footer--navigation__item">
                <a class="navigation__link link--active"
                  href="../restraunt.html">
                  Ресторан
                </a>
              </li>
              <li class="footer--navigation__item">
                <a
                  class="navigation__link link--active "
                  href="../hotel.html"
                  >Готель</a>
              </li>
            </ul>
          </nav>
        </div>
        
        <div class="footer-blocks__item footer__soclinks">
          <ul class="footer__social-icons">
              <li class="footer__soc-icon">
                <a class="social-link link"
                target="_blank" href="https://web.telegram.org/z/">
                  <span class="footer__soc-icon-title">Telegram</span>
                  <svg class="social-icon" width="24" height="24">
                    <use href="../img/sprite/icon.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>

              <li class="footer__soc-icon">
                <a class="social-link link"
                  target="_blank" href="https://www.facebook.com" >
                  <span class="footer__soc-icon-title">Facebook</span>
                  <svg class="social-icon" width="24" height="24">
                    <use href="../img/sprite/icon.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

               <li class="footer__soc-icon">
                <a  class="social-link link"
                  target="_blank" href="https://www.instagram.com">
                  <span class="footer__soc-icon-title">Instagram</span>
                  <svg class="social-icon" width="24" height="24">
                    <use href="../img/sprite/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li> 
          </ul>
        </div>

        </div>
        
      </div>