<footer>
      <div class="container footer__blocks footer-logo">
        <div class="footer-blocks__item">
            <a href="" class="logo--footer">
              <span>MIMIHO</span>
            </a>
        </div>
        <div class="footer-blocks__item">
          <nav class="footer--navigation">
            <ul class="footer--navigation__items">
              <li class="footer--navigation__item">
                <a class="navigation__item--current" href="./index.html">Головна</a>
              </li>
              <li class="footer--navigation__item">
                <a
                  class="navigation__link link--active"
                  href=""
                  >Ресторан</a>
              </li>
              <li class="footer--navigation__item">
                <a
                  class="navigation__link link--active "
                  href=""
                  >Готель</a>
              </li>
            </ul>
          </nav>
        </div>
        
        <div class="footer-blocks__item footer__soclinks">
          <ul class="footer__social-icons">
              <li class="footer__soc-icon">
                <a href="" class="social-link link">
                  <span class="footer__soc-icon-title">Telegram</span>
                  <svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="footer__soc-icon">
                <a href="" class="social-link link">
                  <span class="footer__soc-icon-title">Facebook</span>
                  <svg class="social-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

               <li class="footer__soc-icon">
                <a href="" class="social-link link">
                  <span class="footer__soc-icon-title">Instagram</span>
                  <svg class="social-icon" width="24" height="24">
                    <use href="../src/img/sprite/icon.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li> 
          </ul>
        </div>

      </div>
    </footer>