<section class="hero">
    <div class="container">
        <div class="hero-adress-box-mobile">
            <svg width="20" height="20" class="hero-location-icon">
                <use href="./img/sprite/icon.svg#icon-location"></use>
            </svg>
            <a href="https://goo.gl/maps/NbYGJYo3N7dLKXpx5" target="_blank" class="hero-adress-link">
                Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
            </a>
        </div>

        <ul class="hero-arrow-list">
            <li class="hero-arrow-wrap">
                <svg width="40" height="40" class="hero-arrow-icon">
                    <use href="./img/sprite/icon.svg#icon-arrow-left"></use>
                </svg>
            </li>
            <li class="hero-arrow-wrap">
                <svg width="40" height="40" class="hero-arrow-icon">
                    <use href="./img/sprite/icon.svg#icon-arrow-right"></use>
                </svg>
            </li>
        </ul>

        <h1 class="hero-title">ДВОМІСНИЙ НОМЕР люкс</h1>
        <p class="hero-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="hero-wrap">
            <div class="hero-adress-box">
                <svg width="20" height="20" class="hero-location-icon">
                    <use href="./img/sprite/icon.svg#icon-location"></use>
                </svg>
                <a href="https://goo.gl/maps/NbYGJYo3N7dLKXpx5" target="_blank" class="hero-adress-link">
                    Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
                </a>
            </div>

            <ul class="hero-social-list">
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <svg width="22" height="22" class="hero-social-icon">
                            <use href="./img/sprite/icon.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <svg width="20" height="20" class="hero-social-icon">
                            <use href="./img/sprite/icon.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://web.telegram.org/z/" target="_blank">
                        <svg width="20" height="20" class="hero-social-icon">
                            <use href="./img/sprite/icon.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

         <button class="hero-btn modal-btn" id="modalBtn" type="button">Переглянути ціни</button>


        
    </div>
</section>