<section class="hero">
    <div class="container">
        <div class="hero-adress-box-mobile">
            <svg width="20" height="20" class="hero-location-icon">
                <use href="./img/sprite/icon.svg#icon-location"></use>
            </svg>
            <a href="https://goo.gl/maps/NbYGJYo3N7dLKXpx5" target="_blank" class="hero-adress-link">
                Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
            </a>
        </div>
        <h1 class="hero-title">mimih<span>o</span></h1>
        <h2 class="hero-h2-title">Ресторан</h2>
        <p class="hero-text">cмак життя 24/7</p>
        <div class="hero-wrap">
            <div class="hero-adress-box">
                <svg width="20" height="20" class="hero-location-icon">
                    <use href="./img/sprite/icon.svg#icon-location"></use>
                </svg>
                <a href="https://goo.gl/maps/NbYGJYo3N7dLKXpx5" target="_blank" class="hero-adress-link">
                    Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
                </a>
            </div>
            <div>
                <div class="hero-btn-list">
                    <button class="hero-btn modal-btnt" type="button" id="modalBtnt">Забронювати столик</button>

                    <a href="./restraunt.html" class="hero-btn">Переглянути меню</a>
                </div>
            </div>
        </div>

        <ul class="hero-social-list">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <svg width="24" height="24" class="hero-social-icon">
                        <use href="./img/sprite/icon.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <svg width="24" height="24" class="hero-social-icon">
                        <use href="./img/sprite/icon.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://web.telegram.org/z/" target="_blank">
                    <svg width="24" height="24" class="hero-social-icon">
                        <use href="./img/sprite/icon.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>