<section class="section-aboutourhotel">
  <div class="container">
  <h2 class="visually-hidden">5 MainPage / About our hotel</h2>
  <div class="aboutourhotel">
    <div class="aboutourhotel-img">
        <picture>
          <source
            srcset="
            ./img/hotel-main-page/room.jpg  1x,
            ./img/hotel-main-page/room@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
            ./img/hotel-main-page/room- tablet.jpg  1x,
            ./img/hotel-main-page/room- tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
            ./img/hotel-main-page/room- mob.jpg    1x,
            ./img/hotel-main-page/room- mob@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="./img/hotel-main-page/room.jpg"
            alt="room"
            width="460"
            height="574"
          />
        </picture>
    </div>
    <div class="text-aboutourhotel">
      <p class="aboutourhotel-title">Amet minim mollit non</p>
      <h3 class="aboutourhotel-subtitle">MIMIHO</h3>
      <p class="aboutourhotel-excerpt">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
     
      <div>
        <p class="aboutourhotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

      </div>
      <div class="aboutourhotel-images">
        
        <picture>
          <source
            srcset="
            ./img/hotel-main-page/hotel.jpg 1x,
              ./img/hotel-main-page/hotel@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
            ./img/hotel-main-page/hotel- tablet.jpg  1x,
              ./img/hotel-main-page/hotel- tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
            ./img/hotel-main-page/hotel- mob.jpg    1x,
              ./img/hotel-main-page/hotel- mob@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            src="./img/hotel-main-page/hotel.jpg"
            alt="room"
            width="460"
            height="574"
          />
        </picture>
       </div>  
      <div class="aboutourhotel-scrol">
        <div class="aboutourhotel-pic">
          <div class="scrol-img">
            <picture>
              <source
                srcset="
                ./img/hotel-main-page/scrol1.jpg 1x,
                  ./img/hotel-main-page/scrol1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                ./img/hotel-main-page/scrol1- tablet.jpg  1x,
                  ./img/hotel-main-page/scrol1- tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                ./img/hotel-main-page/scrol1- mob.jpg    1x,
                  ./img/hotel-main-page/scrol1- mob@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./img/hotel-main-page/scrol1.jpg"
                alt="women"
                width="254"
                height="254"
              />
            </picture>
          </div>
          <div class="scrol-images">
            <picture>
              <source
                srcset="
                ./img/hotel-main-page/scrol2.jpg. 1x,
                  ./img/hotel-main-page/scrol2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                ./img/hotel-main-page/scrol2- tablet.jpg  1x,
                  ./img/hotel-main-page/scrol2- tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                ./img/hotel-main-page/scrol2- mob.jpg    1x,
                  ./img/hotel-main-page/scrol2- mob@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./img/hotel-main-page/scrol2.jpg"
                alt="polotece"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
        
        <div>
          <ul class="aboutourhotel-vector">
            <li>
              <button type="button" class="aboutourhotel-button">
                <svg class="aboutourhotel-icon" width="32" height="32"> 
                  <use href="./img/sprite/icon.svg#icon-Vector-1">
                  </use>
                </svg>
              </button>
            </li>
            <li>
              <button type="button" class="aboutourhotel-button">
                <svg class="aboutourhotel-icon" width="32" height="32"> 
                  <use href="./img/sprite/icon.svg#icon-Vector-2">
                  </use>
                </svg>
              </button>
            </li>
          </ul>

          
         
          
          </div> 
        </div>              
      </div>      
    </div>
  </div>
</div>
</section>