<section class="menu">
    <div class="container">
    <h2 class="menu-title">
        МЕНЮ РЕСТОРАНУ 
    </h2>
    <div class="main-cont">
        <div>
            <div class="cont-two">
    <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title ">Гарячі страви</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat pice">Борщ з телятини з квасолею </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">240 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Телятина, картопля, капуста, морква,<br>
                цибуля, квасоля, часник, помідори, <br> зелень, сметана</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Суп сирний з куркою </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">200 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Курятина, картопля, морква, цибуля,<br> 
                печериці, сир м’який, зелень</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Паста карбонара </td>
            <td class="eat-mass" rowspan="2">350 г</td>
            <td class="eat-price" rowspan="2">430 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Паста тальятеле, бекон, вершки,
                 сир <br> пармезан, яйце, зелень</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Стейк зі свинини </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">500 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Свиняча вирізка, спеціі, 
                подається з <br> соусом солодкий чилі та овочами</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Горбуша в соусі з білого <br class="br"> вина </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">400 грн</td>
        </tr>
        <tr>
            <td class="ingradients eat-last-name">Ніжна горбуша, 
                вершковий соус на <br> основі білого вина</td>
            <td></td>
            <td></td>
        </tr>
        </table>
    </div>

<!-- ------------------------------------------------------------------- -->
<div class="cont-two">
        <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title table-title">Гарніри та закуски</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat pice">Запечені овочі </td>
            <td class="eat-mass eat-vaga mass" rowspan="2">200 г</td>
            <td class="eat-price eat-pri" rowspan="2">230 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Кабачок, перець, помідор, баклажан</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Картопля фрі </td>
            <td class="eat-mass eat-vaga mass" rowspan="2">150 г</td>
            <td class="eat-price eat-pri" rowspan="2">160 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Картопля, соус томатний</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Картопля по-селянськи </td>
            <td class="eat-mass eat-vaga mass" rowspan="2">150 г</td>
            <td class="eat-price eat-pri" rowspan="2">160 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Картопля, спеції, соус пікантний</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat pice">Хрумкі соління з бочки </td>
            <td class="eat-mass eat-vaga mass" rowspan="2">250 г</td>
            <td class="eat-price eat-pri" rowspan="2">350 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Огірок солений, помідор квашений, <br>
                квашена капуста, морква по-корейські</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat sourse pice">Крильця курячі в медовому соусі </td>
            <td class="eat-mass eat-vaga mass" rowspan="2">400 г</td>
            <td class="eat-price eat-pri" rowspan="2">420 грн</td>
        </tr>
        <tr>
            <td class="ingradients eat-last-name">Крильця курячі, гірчично-медовий <br> соус, 
                подається з морквою, селерою i <br> соусом блючиз</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</div>
<!-- ------------------------------------------------------------------ -->
        <div class="two-cont">

            <div class="cont-two">
                <table class="menu-table">
                    <tr class="table-main-stroke">
                        <th class="table-first-title table-title">Салати</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="eat-type eat pice">Цезар з куркою</td>
                        <td class="eat-mass  mass" rowspan="2">230 г</td>
                        <td class="eat-price " rowspan="2">450 грн</td>
                    </tr>
                    <tr>
                        <td class="ingradients">Куряче філе, листя салату, помідори <br> чері, 
                            сир пармезан, грінки, соус цезар</td>
                        <td></td>
                        <td></td>
                    </tr>
            
                    
                    <tr>
                        <td class="eat-type eat pice">Цезар з креветками </td>
                        <td class="eat-mass  mass" rowspan="2">230 г</td>
                        <td class="eat-price" rowspan="2">300 грн</td>
                    </tr>
                    <tr>
                        <td class="ingradients">Тигрові креветки, листя салату, помідори 
                            чері, сир пармезан, грінки, соус цезар</td>
                        <td></td>
                        <td></td>
                    </tr>
            
                    
                    <tr>
                        <td class="eat-type eat pice">Грецький салат</td>
                        <td class="eat-mass  mass" rowspan="2">230 г</td>
                        <td class="eat-price " rowspan="2">280 грн</td>
                    </tr>
                    <tr>
                        <td class="ingradients">Свіжі огірок, помідор, болгарський перець,
                             оливки, сир бринза, листя салату, соус</td>
                        <td></td>
                        <td></td>
                    </tr>
            
                    
                    <tr>
                        <td class="eat-type eat pice">М’ясний салат </td>
                        <td class="eat-mass  mass" rowspan="2">230 г</td>
                        <td class="eat-price " rowspan="2">300 грн</td>
                    </tr>
                    <tr>
                        <td class="ingradients">Куряче філе або свиняча вирізка, свіжі 
                            огірок, помідор, болгарський перець, соус ранч</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
</div>
    
<!-- ------------------------------------------------------------------ -->

        <div class="cont-two abra-kadabra">
            <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title table-title">Десерти </th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-name eat-one eating pice">Торт наполеон </td>
            <td class="eat-mass eat-mass-two">230 г</td>
            <td class="eat-price eat-prise-two eat-mass-two">300 грн</td>
        </tr>

        
        <tr>
            <td class=" eat-name  eat-one eating pice">Торт маковий </td>
            <td class="eat-mass eat-mass-two" >230 г</td>
            <td class="eat-price eat-prise-two eat-mass-two" >300 грн</td>
        </tr>

        
        <tr>
            <td class="eat-name  last-name  eat-one eating pice lust-peace" rowspan="2">Тірамісу</td>
            <td class="eat-mass eat-mass-two">120 г</td>
            <td class="eat-price eat-prise-two eat-mass-two">260 грн</td>
        </tr>

    
</table>
</div>
    
<!-- --------------------------------------------------------------------- -->
    <div class="cont-two lust-cont-two abra-kadabra">
        <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title table-title last-title title-three title-top">Напої </th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class=" eat-name eat-name-two eat-one eating pice">Чай чорний/зелений </td>
            <td class="eat-mass eat-mass-two eat-mass-three">500 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">100 грн</td>
        </tr>


        <tr>
            <td class=" eat-name eat-name-two eat-one eating pice">Еспресо </td>
            <td class="eat-mass eat-mass-two eat-mass-three" >30 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two" >100 грн</td>
        </tr>


        <tr>
            <td class="eat-name eat-name-two eat-one eating pice">Американо</td>
            <td class="eat-mass eat-mass-two eat-mass-three">150 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">100 грн</td>
        </tr>


        <tr>
            <td class=" eat-name eat-name-two eat-one eating pice">Капучино</td>
            <td class="eat-mass eat-mass-two eat-mass-three">200 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">160 грн</td>
        </tr>


        <tr>
            <td class=" eat-name eat-name-two last-name eat-one eating pice">Лате</td>
            <td class="eat-mass eat-mass-two eat-mass-three">200 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">160 грн</td>
        </tr>
    </table>
</div>
</div>
</div>

    <button class="menu-btn"><span class="btn-text">Забронювати столик</span></button>
</div>
</section>
