<section class="menu">
    <div class="container">
    <h2 class="menu-title">
        МЕНЮ РЕСТОРАНУ 
    </h2>
    <div class="main-cont">
        <div>
    <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title ">Гарячі страви</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat">Борщ з телятини з квасолею </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">240 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Телятина, картопля, капуста, морква,
                цибуля, квасоля, часник, помідори, зелень, сметана</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Суп сирний з куркою </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">200 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Курятина, картопля, морква, цибуля, 
                печериці, сир м’який, зелень</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Паста карбонара </td>
            <td class="eat-mass" rowspan="2">350 г</td>
            <td class="eat-price" rowspan="2">430 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Паста тальятеле, бекон, вершки,
                 сир пармезан, яйце, зелень</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Стейк зі свинини </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">500 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Свиняча вирізка, спеціі, 
                подається з соусом солодкий чилі та овочами</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Горбуша в соусі з білого вина </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">400 грн</td>
        </tr>
        <tr>
            <td class="ingradients eat-last-name">Ніжна горбуша, 
                вершковий соус на основі білого вина</td>
            <td></td>
            <td></td>
        </tr>

<!-- ------------------------------------------------------------------- -->
        <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title table-title">Гарніри та закуски</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat">Запечені овочі </td>
            <td class="eat-mass" rowspan="2">200 г</td>
            <td class="eat-price" rowspan="2">230 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Кабачок, перець, помідор, баклажан</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Картопля фрі </td>
            <td class="eat-mass" rowspan="2">150 г</td>
            <td class="eat-price" rowspan="2">160 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Картопля, соус томатний</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Картопля по-селянськи </td>
            <td class="eat-mass" rowspan="2">150 г</td>
            <td class="eat-price" rowspan="2">160 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Картопля, спеції, соус пікантний</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Хрумкі соління з бочки </td>
            <td class="eat-mass" rowspan="2">250 г</td>
            <td class="eat-price" rowspan="2">350 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Огірок солений, помідор квашений, 
                квашена капуста, морква по-корейські</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Крильця курячі в медовому соусі </td>
            <td class="eat-mass" rowspan="2">400 г</td>
            <td class="eat-price" rowspan="2">420 грн</td>
        </tr>
        <tr>
            <td class="ingradients eat-last-name">Крильця курячі, гірчично-медовий соус, 
                подається з морквою, селерою i соусом блючиз</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<!-- ------------------------------------------------------------------ -->
        <div class="two-cont">
        <table class="menu-table">
        <tr class="table-main-stroke">
            <th class="table-first-title table-title tablet-title">Салати</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat">Цезар з куркою </td>
            <td class="eat-mass" rowspan="2">230 г</td>
            <td class="eat-price eat-prise-two" rowspan="2">450 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Куряче філе, листя салату, помідори чері,
                 сир пармезан, грінки, соус цезар</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Цезар з креветками </td>
            <td class="eat-mass" rowspan="2">230 г</td>
            <td class="eat-price eat-prise-two" rowspan="2">300 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Тигрові креветки, листя салату, 
                помідори чері, сир пармезан, грінки, соус цезар</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">Грецький салат </td>
            <td class="eat-mass" rowspan="2">230 г</td>
            <td class="eat-price eat-prise-two" rowspan="2">280 грн</td>
        </tr>
        <tr>
            <td class="ingradients">Свіжі огірок, помідор, 
                болгарський перець, оливки, сир бринза, листя салату, соус</td>
            <td></td>
            <td></td>
        </tr>

        
        <tr>
            <td class="eat-type eat">М’ясний салат </td>
            <td class="eat-mass" rowspan="2">230 г</td>
            <td class="eat-price eat-prise-two" rowspan="2">300 грн</td>
        </tr>
        <tr>
            <td class="ingradients eat-last-name">Куряче філе або свиняча вирізка,
                 свіжі огірок, помідор, болгарський перець, соус ранч</td>
            <td></td>
            <td></td>
        </tr>
    
<!-- ------------------------------------------------------------------ -->
        
        <tr class="table-main-stroke">
            <th class="table-first-title table-title">Десерти </th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat-name">Торт наполеон </td>
            <td class="eat-mass eat-mass-two">230 г</td>
            <td class="eat-price eat-prise-two eat-mass-two">300 грн</td>
        </tr>

        
        <tr>
            <td class="eat-type eat-name ">Торт маковий </td>
            <td class="eat-mass eat-mass-two" >230 г</td>
            <td class="eat-price eat-prise-two eat-mass-two" >300 грн</td>
        </tr>

        
        <tr>
            <td class="eat-type eat-name  last-name ">Тірамісу</td>
            <td class="eat-mass eat-mass-two">120 г</td>
            <td class="eat-price eat-prise-two eat-mass-two">260 грн</td>
        </tr>
    
<!-- --------------------------------------------------------------------- -->

        <tr class="table-main-stroke">
            <th class="table-first-title table-title last-title">Напої </th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="eat-type eat-name eat-name-two">Чай чорний/зелений </td>
            <td class="eat-mass eat-mass-two">500 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">100 грн</td>
        </tr>


        <tr>
            <td class="eat-type eat-name eat-name-two">Еспресо </td>
            <td class="eat-mass eat-mass-two" >30 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two" >100 грн</td>
        </tr>


        <tr>
            <td class="eat-type eat-name eat-name-two">Американо</td>
            <td class="eat-mass eat-mass-two">150 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">100 грн</td>
        </tr>


        <tr>
            <td class="eat-type eat-name eat-name-two">Капучино</td>
            <td class="eat-mass eat-mass-two">200 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">160 грн</td>
        </tr>


        <tr>
            <td class="eat-type eat-name eat-name-two last-name">Лате</td>
            <td class="eat-mass eat-mass-two">200 мл</td>
            <td class="eat-price eat-prise-two eat-mass-two">160 грн</td>
        </tr>
    </table>
</div>
</div>

    <button class="menu-btn"><span class="btn-text">Забронювати столик</span></button>
</div>
</section>