<section class="details-restaurant">
  <div class="container">
    <div class="details-restaurant-container">
      <div class="details-restaurant__btns">
        <div>
          <button type="button" class="details-restaurant__btn-reserve-table">Забронювати столик</button>
          <a href="#" class="details-restaurant__btn-view-menu">Переглянути меню</a>
        </div>
      </div>
      <div class="details-restaurant-content">
        <div class="details-restaurant-box">
          <p class="title-section">MIMIHO</p>
          <h2 class="details-restaurant-title">Ресторан</h2>
          <p class="details-restaurant-description">Amet minim mollit non deserunt ullamco est sit
            aliqua
            dolor do amet sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
        <div class="details-restaurant-content-slider">
          <div class="details-restaurant-slider">
            <img src="./img/restraunt-main-page/restaurant-img-1.png" height="270" width="270" alt="restaurant-img-1">
            <img src="./img/restraunt-main-page/restaurant-img-2.png" height="270" width="162" alt="restaurant-img-2">
            <img src="./img/restraunt-main-page/restaurant-img-3.png" height="270" width="270" alt="restaurant-img-3">
          </div>
          <div class="details-restaurant-arrow">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31 15.4897H4.84047L10.859 9.42865L9.44038 8L1 16.5L9.44038 25L10.859 23.5713L4.84035 17.5102H31V15.4897Z" fill="white"/>
            </svg>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.5595 8L21.1409 9.42865L27.1595 15.4898H1V17.5104H27.1594L21.1409 23.5713L22.5595 25L31 16.5L22.5595 8Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






