<section class='details-restaurant'>
  <div class='container'>
    <div class='details-restaurant-container'>
      <div class='details-restaurant__btns'>
        <div>
feature/4_MainPage_Details_of_our_restaurant
          <button type='button' class='details-restaurant__btn-reserve-table'>Забронювати столик</button>
          <a href='restraunt.html' class='details-restaurant__btn-view-menu'>Переглянути меню</a>

          <button type='button' class='details-restaurant__btn-reserve-table modal-button-for-table'>Забронювати столик</button>
          <a href='#' class='details-restaurant__btn-view-menu'>Переглянути меню</a>
main
        </div>
      </div>
      <div class='details-restaurant-content'>
        <div class='details-restaurant-box'>
          <p class='title-section'>MIMIHO</p>
          <h2 class='details-restaurant-title'>Ресторан</h2>
          <p class='details-restaurant-description'>Amet minim mollit non deserunt ullamco est sit
            aliqua
            dolor do amet sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
        <div class='details-restaurant-content-slider'>
          <div class='details-restaurant-slider'>
            <picture>
              <source
                srcset='./img/restraunt-main-page/restaurant-img-1.jpg 1px, ./img/restraunt-main-page/restaurant-img-1-2x.jpg 2px'
                media='(min-width: 1280px)'>
              <img class='details-restaurant-images' src='./img/restraunt-main-page/restaurant-img-1.jpg' alt='restaurant-img-1' width='270' height='270'>
            </picture>
            <picture>
              <source
                srcset='./img/restraunt-main-page/restaurant-img-2.jpg 1px, ./img/restraunt-main-page/restaurant-img-2-2x.jpg 2px'
                media='(min-width: 1280px)'>
              <img class='details-restaurant-images' src='./img/restraunt-main-page/restaurant-img-2.jpg' alt='restaurant-img-2' width='162' height='270'>
            </picture>
            <picture>
              <source
                srcset='./img/restraunt-main-page/restaurant-img-3.jpg 1x,
    ./img/restraunt-main-page/restaurant-img-3-tablet@2x.jpg 2x'
                media='(max-width: 1279px)' />

              <img class='details-restaurant-img details-restaurant-images' src='./img/restraunt-main-page/restaurant-img-3.jpg' alt='Фотография'
                   width='270' height='270' />
            </picture>
          </div>
          <div class='details-restaurant-arrow'>
            <button type="button" class="arrow-button-slider">
              <svg width="32" height="32" class="arrow-icon-slider-left">
                <use href="./img/restraunt-main-page/icons-arrow.svg#icon-slider_arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="arrow-button-slider">
              <svg width="32" height="32" class="arrow-icon-slider-right">
                <use href="./img/restraunt-main-page/icons-arrow.svg#icon-slider_arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


