<!-- 15 HOTEL - 1 ROOM FOR 2 ADULTS -->
<section class="roomfortwo">
  <div class="container">
    <p class="roomfortwo-pre-logo">Amet minim mollit non</p>
    <p class="roomfortwo-logo">Mimiho</p>
    <h2 class="roomfortwo-title">ДВОМІСНИЙ НОМЕР</h2>

    <p class="roomfortwo-wrap-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="roomfortwo-pic-wrap">
      <picture>
        <source
          srcset="
            ./img/room-for-two-images/desktop/roomfortwo-460_574.jpg  1x,
            ./img/room-for-two-images/desktop/roomfortwo-920_1148.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/room-for-two-images/tablet/roomfortwo-400_524.jpg  1x,
            ./img/room-for-two-images/tablet/roomfortwo-800_1048.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/room-for-two-images/mobile/roomfortwo-244_322.jpg 1x,
            ./img/room-for-two-images/mobile/roomfortwo-488_644.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/room-for-two-images/desktop/roomfortwo-460_574.jpg"
          alt="Готульний номер з панорамним вікном, двоспальним ліжком, столиком і диваном"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="roomfortwo-slider-wrap">
      <div class="roomfortwo-slider">
        <div class="roomfortwo-slider-img-first">
          <picture>
            <source
              srcset="
                ./img/room-for-two-images/slider/desktop/washbasin-254_254.jpg 1x,
                ./img/room-for-two-images/slider/desktop/washbasin-508_508.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/room-for-two-images/slider/tablet/washbasin-194_194.jpg 1x,
                ./img/room-for-two-images/slider/tablet/washbasin-388_388.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./img/room-for-two-images/slider/mobile/washbasin-74_194.jpg  1x,
                ./img/room-for-two-images/slider/mobile/washbasin-148_388.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./img/room-for-two-images/slider/desktop/washbasin-254_254.jpg"
              alt="Біла раковина для умивання з чорним змішувачем"
                          />
          </picture>
        </div>
        <div class="roomfortwo-slider-img-second">
          <picture>
            <source
              srcset="
                ./img/room-for-two-images/slider/desktop/cup-254_254.jpg 1x,
                ./img/room-for-two-images/slider/desktop/cup-508_508.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/room-for-two-images/slider/tablet/cup-194_194.jpg 1x,
                ./img/room-for-two-images/slider/tablet/cup-388_388.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="./img/room-for-two-images/slider/desktop/cup-254_254.jpg"
              alt="Біла чашка стоїть на дерев'яному підвіконні"
                          />
          </picture>
        </div>
      </div>
      <ul class="roomfortwo-slider-btn">
        <li>
          <button type="button" class="slider-btn">
            <svg class="arrow-left-icon" width="32" height="32">
              <use href="./img/sprite/icon.svg#icon-Vector-arrow1"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="slider-btn">
            <svg class="arrow-right-icon" width="32" height="32">
              <use href="./img/sprite/icon.svg#icon-Vector-arrow2"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="roomfortwo-link-btn-wrap">
      <a href="./room.html" class="roomfortwo-link">Детальніше</a>
      <button type="button" class="roomfortwo-prices-btn modal-button-for-price">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
