<section class="luxe-section">
    <div class="container">
        <p class="luxe-section-pre-title">Amet minim mollit non</p>
        <h3 class="luxe-section-title">MIMIHO</h3>
        <h2 class="luxe-section-after-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="luxe-section-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
        </p>
        <div class="luxe-img-container">
            <picture class="luxe-img">
                <source srcset="./img/room-luxe/bedroom-desktop.jpg 1x, ./img/room-luxe/bedroom-desktop_2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./img/room-luxe/bedroom-tablet.jpg 1x, ./img/room-luxe/bedroom-tablet_2x.jpg 2x"
                    media="(min-width: 1024px)" />
                <source srcset="./img/room-luxe/bedroom-mobile.jpg 1x, ./img/room-luxe/bedroom-mobile_2x.jpg 2x"
                    media="(max-width: 1023px)" />
                <img src="./img/room-luxe/bedroom-mobile.jpg" alt="двомісний номер люкс" />
            </picture>
        </div>
        <a  href="../room.html" class="luxe-button">Детальніше</a>
        <button type="button" class="luxe-button">Переглянути ціни</button>
    </div>
</section>