<section class="room-3-adult">
    <div class="pretitle-logo-wrap">
        <p class="pre-title">Amet minim mollit non</p>
        <p class="logo">MIMIHO</p>
    </div>
    <div class="section-title-description-wrap">
        <h2 class="section-title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="descriprion-section">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <img src="" alt="" />
    <img src="" alt="" />
    <a class="button" href="./room.html" target="_blank">Перейти на сайт</a>
    <button type="button" class="mobile-window-room-price">Переглянути ціни</button>
</section>