<!-- 15 HOTEL - 1 ROOM FOR 2 ADULTS -->
<section class="roomfortwo">
  <div class="container">
    <div class="roomfortwo-wrap">
        <div class="extra">
      <p class="roomfortwo-pre-logo">Amet minim mollit non</p>
      <p class="roomfortwo-logo">Mimiho</p>
    <h2 class="roomfortwo-title">ДВОМІСНИЙ НОМЕР</h2>

      <p class="roomfortwo-wrap-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="roomfortwo-pic-wrap">
      <picture>
        <source
          srcset="
            ./img/room-for-two-images/desktop/roomfortwo-460_574.jpg  1x,
            ./img/room-for-two-images/desktop/roomfortwo-920_1148.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/room-for-two-images/tablet/roomfortwo-400_524.jpg  1x,
            ./img/room-for-two-images/tablet/roomfortwo-800_1048.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/room-for-two-images/mobile/roomfortwo-244_322.jpg 1x,
            ./img/room-for-two-images/mobile/roomfortwo-488_644.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/room-for-two-images/desktop/roomfortwo-460_574.jpg"
          alt="Готульний номер з панорамним вікном, двоспальним ліжком, столиком і диваном"
          width="460"
          height="574"
        />
      </picture>
    </div>
    </div>
    <a href="./room.html" class="roomfortwo-link">Детальніше</a>
    <button type="button" class="roomfortwo-prices-btn data-modal-open-price">Переглянути ціни</button>
    <!-- Тут має бути слайдер -->
  </div>
</section>