<!-- 15 HOTEL - 1 ROOM FOR 2 ADULTS -->
<section class="roomfortwo">
  <div class="container">
    <div class="roomfortwo-wrap">
        <div class="extra">
      <p class="roomfortwo-pre-logo">Amet minim mollit non</p>
      <p class="roomfortwo-logo">Mimiho</p>
    <h2 class="roomfortwo-title">ДВОМІСНИЙ НОМЕР</h2>

      <p class="roomfortwo-wrap-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="roomfortwo-pic-wrap">
      <picture>
        <source
          srcset="
            ./img/room-for-two-images/desktop/roomfortwo-460_574.jpg  1x,
            ./img/room-for-two-images/desktop/roomfortwo-920_1148.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/room-for-two-images/tablet/roomfortwo-400_524.jpg  1x,
            ./img/room-for-two-images/tablet/roomfortwo-800_1048.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/room-for-two-images/mobile/roomfortwo-244_322.jpg 1x,
            ./img/room-for-two-images/mobile/roomfortwo-488_644.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./img/room-for-two-images/desktop/roomfortwo-460_574.jpg"
          alt="Готульний номер з панорамним вікном, двоспальним ліжком, столиком і диваном"
          width="460"
          height="574"
        />
      </picture>
    </div>
    </div>
    <div>
      <div class="abrest-slider">
      <div class="abrest-slider-img-first">
        <picture>
          <source
            srcset="
              ./img/about-rest-images/slides/desktop/glass-of-wine-254_254.jpg 1x,
              ./img/about-rest-images/slides/desktop/glass-of-wine-508_508.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-rest-images/slides/tablet/glass-of-wine-194_194.jpg 1x,
              ./img/about-rest-images/slides/tablet/glass-of-wine-388_388.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./img/about-rest-images/slides/mobile/glass-of-wine-245_245.jpg 1x,
              ./img/about-rest-images/slides/mobile/glass-of-wine-490_490.jpg 2x
            "
            src="./img/about-rest-images/slides/desktop/glass-of-wine-254_254.jpg"
            alt="Рука тримає келих з червоним вином"
                      />
        </picture>
      </div>
      <div class="abrest-slider-img-second">
        <picture>
          <source
            srcset="
              ./img/about-rest-images/slides/desktop/served-table-254_254.jpg 1x,
              ./img/about-rest-images/slides/desktop/served-table-508_508.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-rest-images/slides/tablet/served-table-194_194.jpg 1x,
              ./img/about-rest-images/slides/tablet/served-table-388_388.jpg 2x
            "
            media="(min-width: 1024px)"
                    />
          <img
            srcset="
              ./img/about-rest-images/slides/mobile/served-table-60_245.jpg 1x,
              ./img/about-rest-images/slides/mobile/served-table-120_490.jpg 2x
            "
            src="./img/about-rest-images/slides/desktop/served-table-254_254.jpg"
            alt="Панорамний вид довгого дерев'яного стола серверованого для бенкету"
                    />
        </picture>
      </div>
    </div>
    <ul class="abrest-slider-btn">
      <li>
        <button type="button" class="slider-btn">
          <svg class="arrow-left-icon" width="32" height="32">
            <use href="./img/sprite/icon.svg#icon-Vector-arrow1"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="slider-btn">
          <svg class="arrow-right-icon" width="32" height="32">
            <use href="./img/sprite/icon.svg#icon-Vector-arrow2"></use>
          </svg>
        </button>
      </li>
    </ul>
    </div>
    <a href="./room.html" class="roomfortwo-link">Детальніше</a>
    <button type="button" class="roomfortwo-prices-btn">Переглянути ціни</button>
    <!-- Тут має бути слайдер -->
    
  </div>
</section>