
:root {
    --base-white-color: #FFFFFF;
    --base-black-color: #000000;
    --accent-yellow-color: #F3C653;
    --header-adress-text-color: #E5E5E5;
    --subtitle-section-text-color: #B4B4B4;
    --logo-section-color: #494848;
    --description-section-color: #7A7A7A;
    --description-section-accent-color:  #C79002;
    --description-section-text-color: #BABABA;
    --background-footer-color: #0E0C07;
    --section--first-background-color: #FFFDEE;
    --section-second-background-color: #F0ECD6;
    --background-button-color: rgba(0, 0, 0, 0.4);
    --contact-color: #828282;
}


.container {
    max-width: 384px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 930px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1110px;
    }
}