/* --------3 MAIN HOMEPAGE - ABOUT RESTAURANT-------- */
.abrest {
  padding-top: 16px;
  padding-bottom: 349px;

  background-color: var(--section--first-background-color);
}
.abrest-pre-logo {
  margin-bottom: 12px;

  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  color: var(--subtitle-section-text-color);
}
.abrest-logo {
  margin-bottom: 12px;
  font-family: 'FilmP3Bold', sans-serif;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;

  color: var(--logo-section-color);
}
.abrest-wrap-text-first,
.abrest-wrap-text-second {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.abrest-wrap-text-first {
  margin-bottom: 28px;

  color: var(--description-section-color);
}
.abrest-wrap-pic-first,
.abrest-wrap-pic-second {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
.abrest-wrap-pic-first {
  width: 244px;
  margin-left: auto;
  margin-bottom: 32px;
}

.abrest-wrap-second {
  display: flex;
  gap: 20px;
  align-items: center;
}
.abrest-wrap-pic-second {
  width: 200px;
  flex-shrink: 0;
}
.abrest-wrap-text-second {
  color: var(--description-section-accent-color);
}
/* Це медіа туту не потрібно, якщо виправити БЕЙС СіСС */
@media screen and (min-width: 414px) {
  .container {
    max-width: unset;
  }
}
@media screen and (min-width: 1024px) {
  .abrest {
    padding-top: 0;
    padding-bottom: 262px;
  }
  .abrest-pre-logo {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;
  }
  .abrest-logo {
    margin-bottom: 24px;

    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
  }
  .abrest-wrap-text-first,
  .abrest-wrap-text-second {
    font-size: 16px;
  }

  .abrest-wrap-first {
    margin-bottom: -46px;

    display: flex;
    gap: 26px;
    align-items: center;
  }
  .abrest-wrap-text-first {
    margin-bottom: 0;
    max-width: 439px;
  }
  .abrest-wrap-pic-first,
  .abrest-wrap-pic-second {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: unset;
  }
  .abrest-wrap-pic-first {
    position: relative;
    transform: translateY(-32px);

    width: 400px;
    margin-left: 0;
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .abrest-wrap-second {
    gap: 48px;
  }
  .abrest-wrap-pic-second {
    width: 350px;
  }
  .abrest-wrap-text-second {
    max-width: 312px;
  }
}
@media screen and (min-width: 1280px) {
  .abrest {
    padding-top: 0;
    padding-bottom: 225px;
  }
  .abrest-wrap-first {
    margin-bottom: -108px;

    gap: 37px;
  }
  .abrest-wrap-text-first {
    max-width: 518px;
  }
  .abrest-wrap-pic-first,
  .abrest-wrap-pic-second {
    border-radius: 2px;
  }
  .abrest-wrap-pic-first {
    transform: translateY(-33px);
  }
  .abrest-wrap-second {
    gap: 32px;
  }
  .abrest-wrap-pic-first,
  .abrest-wrap-pic-second {
    width: 460px;
  }
}
