/* --------3 MAIN HOMEPAGE - ABOUT RESTAURANT-------- */
.abrest {
  padding-top: 16px;
  padding-bottom: 20px;

  background-color: var(--section--first-background-color);
}
.abrest-pre-logo {
  margin-bottom: 12px;

  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  color: var(--subtitle-section-text-color);
}
.abrest-logo {
  margin-bottom: 12px;
  font-family: 'FilmP3Bold', sans-serif;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--logo-section-color);
}
.abrest-wrap-text-first,
.abrest-wrap-text-second {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.abrest-wrap-text-first {
  margin-bottom: 28px;

  color: var(--description-section-color);
}
.abrest-wrap-pic-first,
.abrest-wrap-pic-second {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
.abrest-wrap-pic-first {
  width: 244px;
  margin-left: auto;
  margin-bottom: 32px;
}

.abrest-wrap-second {
  display: flex;
  gap: 20px;
  align-items: center;
}
.abrest-wrap-pic-second {
  width: 200px;
  flex-shrink: 0;
}
.abrest-wrap-text-second {
  color: var(--description-section-accent-color);
}
.abrest-slider {
  margin-top: 32px;
  margin-bottom: 19px;
  display: flex;
  gap: 21px;
  justify-content: end;
}

.abrest-slider-img-first,
.abrest-slider-img-second {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.abrest-slider-img-second {
  margin-right: -15px;
}
.abrest-slider-btn {
  display: flex;
  gap: 34px;
  justify-content: end;
}

.slider-btn {
  padding: 0;
  border: transparent;
  background-color: inherit;
}

@media screen and (min-width: 1024px) {
  .abrest {
    padding-top: 0;
    padding-bottom: 32px;
  }
  .abrest-pre-logo {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;
  }
  .abrest-logo {
    margin-bottom: 24px;

    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
  }
  .abrest-wrap-text-first,
  .abrest-wrap-text-second {
    font-size: 16px;
  }

  .abrest-wrap-first {
    margin-bottom: -46px;

    display: flex;
    gap: 26px;
    align-items: center;
  }
  .abrest-wrap-text-first {
    margin-bottom: 0;
    max-width: 439px;
  }
  .abrest-wrap-pic-first,
  .abrest-wrap-pic-second {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: unset;
  }
  .abrest-wrap-pic-first {
    position: relative;
    transform: translateY(-32px);

    width: 400px;
    margin-left: 0;
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .abrest-wrap-second {
    gap: 48px;
  }
  .abrest-wrap-pic-second {
    width: 350px;
  }
  .abrest-wrap-text-second {
    max-width: 312px;
  }
   .abrest-slider {
    gap: 40px;
    margin-top: -28px;
  }

  .abrest-slider-img-first,
  .abrest-slider-img-second {
    width: 194px;
  }

  .abrest-slider-img-second {
    margin-right: 0;
  }

  .abrest-slider-btn {
    margin-right: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .abrest {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .abrest-wrap-first {
    margin-bottom: -108px;

    gap: 37px;
  }
  .abrest-wrap-text-first {
    max-width: 518px;
  }
  .abrest-wrap-pic-first,
  .abrest-wrap-pic-second {
    border-radius: 2px;
  }
  .abrest-wrap-pic-first {
    transform: translateY(-33px);
  }
  .abrest-wrap-second {
    gap: 32px;
  }
  .abrest-wrap-pic-first,
  .abrest-wrap-pic-second {
    width: 460px;
  }
  .abrest-slider {
    margin-top: -150px;
  }

  .abrest-slider-img-first,
  .abrest-slider-img-second {
    width: 254px;
  }

  .abrest-slider-btn {
    margin-right: 0;
  }

  .slider-btn {
    transition: fill var(--animation);
  }

  .slider-btn:hover,
  .slider-btn:focus {
    fill: var(--accent-yellow-color);
  }
}
