/*:root {
    --base-white-color: #FFFFFF;
    --base-black-color: #000000;
    --accent-yellow-color: #F3C653;
    --header-adress-text-color: #E5E5E5;
    --subtitle-section-text-color: #B4B4B4;
    --logo-section-color: #494848;
    --description-section-color: #7A7A7A;
    --description-section-accent-color:  #C79002;
    --description-section-text-color: #BABABA;
    --background-footer-color: #0E0C07;
    --section--first-background-color: #FFFDEE;
    --section-second-background-color: #F0ECD6;
    --background-button-color: rgba(0, 0, 0, 0.4);
    --contact-color: #828282;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}*/


.body {
    font-family: 'Montserrat', sans-serif;
  }

header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    min-width: 414px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
}

/*---Mobile---*/

/*@media screen and (min-width: 414px) {
    .container {
        width: 414px;
    }
}*/

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.navigation-list_span {
    display: none;
}

.media {
    display: none;
}

.logo {
    text-decoration: none;
    padding-top: 16px;
    margin-right: auto;
    color: var(--base-white-color);
    font-family: 'Mimiho';
    font-style: normal;
    font-size: 36px;
    line-height: 1.08;

}

.navigation-list {
    display: flex;
    align-items: baseline;
    padding-top: 28px;
}

.navigation-list_item {
    display: flex;
    justify-content: center;
}

.navigation-list_item:first-child {
    margin-right: 26px;
}

.navigation-list_title {
    color: var(--accent-yellow-color);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.nav-phone {
    display: block;
}

.navigation-list_svg {
    display: inline-block;
    width: 12px;
    height: 20px;
    margin-bottom: 14px;
}


.navigation-list_title {
    margin-right: 12px;
}

.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 11px;
    width: 210px;
    height: 47px;
    margin-left: auto;
    border-radius: 2px;
    border: 1px solid rgba(243, 198, 83, .7);
}

.address-pin {
    margin-right: 13px;
    width: 24px;
    height: 24px;
    fill: var(--accent-yellow-color);
}

.address p {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 3;
    padding-top: 8px;
    padding-bottom: 9px;
    width: 179px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    color: var(--header-adress-text-color);
}



@media screen and (min-width: 1024px){
    /*.container {
        width: 1280px;
    }   */

    header {
        padding-top: 30px;
    }   

    .navigation-list {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navigation-list_span {
        display: block;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--base-white-color);
    }
    
    .logo {
        margin-right: 207px;
        padding-top: 24px;
        padding-bottom: 33px;
    }

    .navigation-list_item {
        justify-content: center;
        align-items: center;
    }

    .navigation-list_title {
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 32px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .navigation-list_item:first-child {
        margin-right: 72px;
    }

    .navigation-list_phone {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 8px;
        margin-right: 0;
        margin-bottom: 0;
        width: 144px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        border: 1px solid rgba(243, 198, 83, .7);
        border-radius: 2px;
    }

    .navigation-list_svg {
        width: 12px;
        height: 20px;
        margin-right: 10px;
        margin-bottom: 0;
        fill: rgba(243, 198, 83, .7);
    }

    .address {
        display: none;
    }

}

@media screen and (min-width: 1280px) {
    /*.container {
        width: 1140px;
        
    }*/

    .navigation {
        margin-right: 0;
    }

    .media {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media-logo {
        width: 22px;
        height: 22px;
        fill: var(--accent-yellow-color);
    }

   

    .media .media-item + .media-item {
        margin-left: 23px;
    }

}