.luxe-section .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.luxe-section {
    background-color: var(--section--first-background-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.luxe-section-pre-title {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--subtitle-section-text-color);
    margin-bottom: 8px;
}

.luxe-section-title {
    font-family: "FilmP3Bold";
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: var(--logo-section-color);
    margin-bottom: 32px;
}

.luxe-section-after-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--base-black-color);
    margin-bottom: 12px;
}

.luxe-section-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--description-section-color);
    max-width: 258px;
    margin-bottom: 32px;
}

.luxe-img-container {
    margin: 0 0 0 auto;
    width: 244px;
    height: 322px;
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.luxe-img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.luxe-button {
    width: 236px;
    padding: 14px 0;
    background: var(--base-black-color);
    border: 2px solid #fffdec;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
    margin: 0 auto 16px;
    display: block;
    cursor: pointer;
    text-align: center;
    transition: background-color var(--animation), border var(--animation);
}

.luxe-button:hover {
    background-color: var(--base-white-color);
    border: 2px solid var(--accent-yellow-color);
}

.luxe-button:focus {
    background-color: var(--base-white-color);
    border: 2px solid var(--accent-yellow-color);
}

.luxe-button:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 414px) {
    .luxe-section .container {
        max-width: 414px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .luxe-section .container {
        max-width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
    }

    .luxe-section {
        padding-top: 62px;
        padding-bottom: 145px;
    }

    .luxe-section-pre-title {
        font-size: 32px;
        line-height: 1.16;
        margin-bottom: 4px;
    }

    .luxe-section-title {
        font-size: 64px;
        line-height: 1.08;
        margin-bottom: 62px;
    }

    .luxe-section-after-title {
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 16px;
    }

    .luxe-section-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 440px;
        margin-bottom: 217px;
    }

    .luxe-img-container {
        width: 400px;
        height: 524px;
        position: absolute;
        top: -94px;
        right: 112px;
    }

    .luxe-button {
        margin: 0 0 16px auto;
    }
}

@media screen and (min-width: 1280px) {
    .luxe-section {
            padding-top: 72px;
            padding-bottom: 182px;
        }
    .luxe-section .container {
        max-width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
    }

    .luxe-section-title {
        margin-bottom: 72px;
    }

    .luxe-section-after-title {
        font-size: 36px;
        line-height: 1.14;
    }

    .luxe-section-text {
        margin-bottom: 260px;
    }

    .luxe-section .container .luxe-img-container {
        width: 460px;
        height: 574px;
        position: absolute;
        top: -118px;
        right: 180px;
    }
}